@use "../00.settings/variables" as *;
@use "../00.settings/spacing" as *;
@use "../02.tools/media-queries" as mq;

.o-cards-grid {
  display: grid;
  gap: space(2);
  grid-template-columns: 1fr;

  @include mq.up($bp-small) { grid-template-columns: repeat(2, 1fr); }
  @include mq.up($bp-tablet) { grid-template-columns: repeat(3, 1fr); }
}
