:root {

  /* Card Text Badge */
  --card-text-badge-color: #342e34;

  /* Card Location */
  --card-location-color: #622f60;

  /* Card Duration */
  --card-duration-color: #342e34;

  /* Card Title */
  --card-title-color: #342e34;

  /* Card Price Label */
  --card-price-label-color: #342e34;

  /* Card Price */
  --card-price-color: #342e34;

  /* Card Radius */
  --card-radius: 24px;

  /* Card Shadow */
  --card-shadow-base-default: 0 6px 11px rgba(0, 0, 0, 0.15);

  /* Card Image Ratio */
  --card-image-ratio: 4 / 3;

  /* Card footer bg */
  --card-head-footer-bg: #FBF6F4;

  /* Modal */
  --bar-text-default: #342e34;
  --price-default: #342e34;

}