<aside class="c-filters" aria-label="Filtros de búsqueda">
  <div class="c-filters__inner">
    <div class="c-filters__wrap-header">
      <h3 class="c-filters__title">Filtrar mi búsqueda</h3>
      <button
          type="button"
          class="c-filters__close"
          (click)="close.emit()">
          <img src="assets/images/icons/ui/close.svg" alt="Cerrar" />
      </button>
    </div>

    <!-- <div class="filters-sidebar__header">
      <h3>Filtrar mi búsqueda</h3>

      <button
        class="filters-sidebar__close"
        (click)="close.emit()">
        <img src="assets/images/icons/ui/close.svg" alt="Cerrar" />
      </button>
    </div> -->

    <!-- DESTINOS -->
    <div class="c-filters__wrapper">
      <button
        class="c-filters__trigger"
        type="button"
        id="trigger-destinos"
        aria-controls="panel-destinos"
        [attr.aria-expanded]="isOpen('destinos')">
        <span class="c-filters__trigger-left">
          <img src="assets/images/icons/icon-destinos.svg" />
          Destinos
        </span>

        <img
          class="c-filters__arrow"
          src="assets/images/icons/ui/arrow-up-down.svg"
        />
      </button>
    </div>

    <!-- AVENTURA -->
    <div class="c-filters__wrapper">
      <button
        class="c-filters__trigger"
        type="button"
        id="trigger-aventura"
        aria-controls="panel-aventura"
        [class.is-open]="isOpen('aventura')"
        (click)="toggleSection('aventura')"
        [attr.aria-expanded]="isOpen('aventura')"
      >
        <span class="c-filters__trigger-left">
           <svg xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none">

              <g clip-path="url(#clip0_13_1957)">

                <path d="M15.375 6.75C16.4105 6.75 17.25 5.91053 17.25 4.875C17.25 3.83947 16.4105 3 15.375 3C14.3395 3 13.5 3.83947 13.5 4.875C13.5 5.91053 14.3395 6.75 15.375 6.75Z"
                      stroke="currentColor"
                      stroke-width="1.34"
                      stroke-linecap="round"
                      stroke-linejoin="round"/>

                <path d="M0.75 18.75L7.60312 7.11937C7.6693 7.00659 7.76381 6.91307 7.87728 6.84809C7.99075 6.7831 8.11924 6.74892 8.25 6.74892C8.38076 6.74892 8.50925 6.7831 8.62272 6.84809C8.73619 6.91307 8.8307 7.00659 8.89688 7.11937L15.75 18.75H0.75Z"
                      stroke="currentColor"
                      stroke-width="1.34"
                      stroke-linecap="round"
                      stroke-linejoin="round"/>

                <path d="M4.72021 12H11.7796"
                      stroke="currentColor"
                      stroke-width="1.34"
                      stroke-linecap="round"
                      stroke-linejoin="round"/>

                <path d="M13.7446 15.3478L16.844 10.1175C16.9104 10.0056 17.0048 9.91287 17.1179 9.84848C17.231 9.78408 17.3589 9.75022 17.489 9.75022C17.6191 9.75022 17.747 9.78408 17.8601 9.84848C17.9732 9.91287 18.0676 10.0056 18.134 10.1175L23.2499 18.75H15.7499"
                      stroke="currentColor"
                      stroke-width="1.34"
                      stroke-linecap="round"
                      stroke-linejoin="round"/>

              </g>

              <defs>
                <clipPath id="clip0_13_1957">
                  <rect width="24" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          Aventura
        </span>

        <svg class="c-filters__arrow" xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
          <path
            d="M4.50868 4.58219C4.24817 4.84349 3.82496 4.84349 3.56444 4.58219L0.194604 1.20211C-0.0647922 0.941924 -0.0647921 0.520917 0.194605 0.260732L0.259174 0.195966C0.519687 -0.0653378 0.942901 -0.0653379 1.20341 0.195966L4.03656 3.03773L6.86972 0.195965C7.13023 -0.0653386 7.55344 -0.0653379 7.81395 0.195966L7.87852 0.260732C8.13792 0.520917 8.13792 0.941925 7.87852 1.20211L4.50868 4.58219Z"
            fill="currentColor"
          />
        </svg>
      </button>

      <div class="c-filters__content"
        [class.is-open]="isOpen('aventura')"
        id="panel-aventura"
        role="region"
        aria-labelledby="trigger-aventura">
        <label
          class="c-filters__option"
          *ngFor="let option of adventureOptions"
          [class.is-active]="option.checked"
        >
          <input
            type="checkbox"
            [checked]="option.checked"
            (change)="toggleOption(option)"
          />

          <span class="c-filters__checkbox">
            <img
              *ngIf="option.checked"
              src="assets/images/icons/ui/check.svg"
              alt=""
            />
          </span>

          <span class="c-filters__option-label">
            {{ option.label }}

            <app-tooltip text="Lorem ipsum">
              <img src="assets/images/icons/ui/icon-info.svg" />
            </app-tooltip>
          </span>
        </label>

        <span class="c-filters__plus c-link">Ver 21 más</span>

      </div>

    </div>

    <!-- ALOJAMIENTO -->
    <div class="c-filters__wrapper">
      <button
        class="c-filters__trigger"
        type="button"
        id="trigger-alojamiento"
        aria-controls="panel-alojamiento"
        [attr.aria-expanded]="isOpen('alojamiento')">
        <span class="c-filters__trigger-left">
          <img src="assets/images/icons/icon-alojamiento.svg" />
          Alojamiento
        </span>

        <img
          class="c-filters__arrow"
          src="assets/images/icons/ui/arrow-up-down.svg"
        />
      </button>
    </div>

    <!-- PRECIO -->
    <div class="c-filters__wrapper">
      <button
        class="c-filters__trigger"
        type="button"
        id="trigger-precio"
        aria-controls="panel-precio"
        [class.is-open]="isOpen('precio')"
        (click)="toggleSection('precio')"
        [attr.aria-expanded]="isOpen('precio')"
      >
        <span class="c-filters__trigger-left">
          <svg xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none">

              <path d="M0.819471 9.81929C0.679085 9.67875 0.60019 9.48825 0.600098 9.28961V0.599976H9.28973C9.48837 0.600068 9.67887 0.678963 9.81941 0.819349L19.1306 10.1305C19.2711 10.2712 19.3501 10.4619 19.3501 10.6607C19.3501 10.8595 19.2711 11.0502 19.1306 11.1908L11.1938 19.1305C11.0531 19.271 10.8625 19.35 10.6636 19.35C10.4648 19.35 10.2741 19.271 10.1335 19.1305L0.819471 9.81929Z"
                    stroke="currentColor"
                    stroke-width="1.19999"
                    stroke-linecap="round"
                    stroke-linejoin="round"/>

            </svg>
          Precio
        </span>

        <svg class="c-filters__arrow" xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
          <path
            d="M4.50868 4.58219C4.24817 4.84349 3.82496 4.84349 3.56444 4.58219L0.194604 1.20211C-0.0647922 0.941924 -0.0647921 0.520917 0.194605 0.260732L0.259174 0.195966C0.519687 -0.0653378 0.942901 -0.0653379 1.20341 0.195966L4.03656 3.03773L6.86972 0.195965C7.13023 -0.0653386 7.55344 -0.0653379 7.81395 0.195966L7.87852 0.260732C8.13792 0.520917 8.13792 0.941925 7.87852 1.20211L4.50868 4.58219Z"
            fill="currentColor"
          />
        </svg>
      </button>

      <div class="c-filters__content c-filters__content--price"
        [class.is-open]="isOpen('precio')"
        id="panel-precio"
        role="region"
        aria-labelledby="trigger-precio">
        <div class="c-filters__input-wrapper">
          <img src="assets/images/icons/icon-ticket-price.svg" />
          <input
            class="c-input"
            type="number"
            placeholder="Mínimo"
            aria-label="Precio mínimo"
            [(ngModel)]="minPrice"
            (input)="emitFilters()"
          />
        </div>

        <div class="c-filters__input-wrapper">
          <img src="assets/images/icons/icon-ticket-price.svg" />
          <input
            class="c-input"
            type="number"
            placeholder="Máximo"
            aria-label="Precio máximo"
            [(ngModel)]="maxPrice"
            (input)="emitFilters()"
          />
        </div>
      </div>
    </div>
  </div>
</aside>
