<section class="adventures">
  <div class="adventures__container">
    
    <!-- HEADER -->
    <div class="adventures__header">
      <h2 class="adventures__title">
        Vive tus propias aventuras
      </h2>

      <p class="adventures__subtitle">
        Para los que les gusta explorar y conocer mundo sin complejos
      </p>

       <button 
          type="button"
          class="adventures__filters-btn"
          (click)="openFilters()"
          aria-controls="filters-drawer"
          [attr.aria-expanded]="isFiltersOpen">
          <img src="assets/images/icons/ui/filter.svg" alt="" />
          Ver filtros
        </button>
    </div>

    <!-- LAYOUT -->
    <div class="adventures__layout">

      <!-- SIDEBAR -->
      <aside class="adventures__sidebar">
        <app-filters-sidebar
          (filtersChange)="onFiltersChange($event)">
        </app-filters-sidebar>
      </aside>

      <!-- CONTENT -->
      <div class="adventures__content">

        <!-- REGION -->
        <h3 class="adventures__region">
          {{ region }}
        </h3>

        <!-- GRID -->
        <div class="o-cards-grid">
          <app-adventure-card
            *ngFor="let trip of filteredTrips; index as i; trackBy: trackByTrip"
            [trip]="trip"
            [index]="i">
          </app-adventure-card>
        </div>

        <!-- DRAWER VERSION -->
        <app-filters-sidebar
          *ngIf="isFiltersOpen"
          class="adventures__drawer"
          [class.is-open]="isFiltersOpen"
          id="filters-drawer"
          (filtersChange)="onFiltersChange($event)"
          (close)="closeFilters()">
        </app-filters-sidebar>

      </div>

    </div>
  </div>
</section>
